*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100%;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0%;
}

nav{
    display: flex;
    padding: 3% 12%;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 3px;
}

nav img{
    width: 155px;
    height: 85px;
    margin-right:10px;
    margin-left: 20px;
    position: relative;

}

.navlinks{
    flex: 1;
    text-align: right;
    top: 5%;
    right: 5%;
    position: relative;
    margin-right: auto;
}

.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navlinks ul li a{
    color: dimgray;
    text-decoration: none;
    font-size: 20px;
}

.navlinks ul li a::after{
    content:'';
    width: 0;
    background: #37a873;
    height: 2px;
    display: block;
    margin:auto;
    transition: 0.3s ease-in-out;
}

.navlinks ul li a:hover::after{
    width: 100%;
}
