@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
}

body {
    background-color: #EDDCD2;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 120px;
}

header .shopping {
    position: relative;
    text-align: right;
}

header .shopping img {
    width: 40px;
}

header .shopping span {
    background: #EDDCD2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
    font-weight: 600;
}


.navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1;
}

.navbar a {
    color: black;
}

.logo {
    display: flex;
    position: relative;
    width: 200px;
    height: 90px;
    cursor: pointer;

}

.navbar .navlinks ul {
    display: flex;

}

.navbar .navlinks ul li {
    margin: 0 25px;
    font-size: 20px;
}

.navbar .navlinks ul li a::after {
    content: '';
    width: 0;
    background: #000000;
    height: 2px;
    display: block;
    margin: 0;
    transition: 0.3s ease-in-out;
}

.navbar .navlinks ul li a:hover::after {
    width: 100%;
}


.navbar .navlinks li.active a {
    font-weight: 600;
}


.navbar .menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:778px) {
    .navbar {
        padding: 0;

    }

    .navbar .logo {

        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;


    }


    .navbar .menu-btn {
        display: block;
    }

    .navlinks {
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(7px);
        align-items: center;
        display: flex;
        justify-content: center;

        transition: all 0.3s ease-in-out;


    }



    .navlinks ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        margin-top: 10px;

    }

    .navbar .navlinks ul li {
        margin: 20px 0;
        font-size: 1.2em;


    }

}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
    row-gap: 80px;
    margin-top: 40px;
}

.list .item {
    text-align: center;
    background-color: #CB997E;
    padding: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.list .item img {
    width: 90%;
    padding-left: 5px;
    padding-bottom: 10px;

}

.item:hover img {
    cursor: pointer;
}



.list .item .title {
    font-weight: 600;
    text-transform: uppercase;
}

.list .item .price {
    margin: 10px;
}

.list .item button {
    background-color: #A5A58D;
    color: #EDDCD2;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.list .item button:hover {
    background-color: #EDDCD2;
    color: #A5A58D;

}



.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #A5A58D;
    height: 80vh;
    transition: 0.5s;
    border-radius: 20px;
    margin-top: 120px;

}


.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);
}

.card h1 {
    color: #EDDCD2;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: 600px;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.card .checkOut div {
    background-color: #CB997E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.card .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #CB997E;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #EDDCD2;


}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 90%;
    padding-bottom: 5px;
}



.listCard li button {
    background-color: #fff5;
    border: none;
}

.listCard .count {
    margin: 0 10px;
}