*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
#top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.top-box{
    width: 600px;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    border-radius: 30px;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
}
.top-box:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.top-img{
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}
.top-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}
.top-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.top-text span{
    color: #f33c3c;
    font-size: 0.9rem;
}
.top-text .top-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.top-text .top-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
.top-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    /*-webkit-line-clamp: 3;*/
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
    text-align: center;
}
.top-text a{
    color: #0f0f0f;
}
.top-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
.top-text h4{
    color: #0f0f0f;
    font-weight: normal;
    text-decoration: underline;
}