body{
    font-family: 'Poppins', sans-serif;
}
.sitemap {
    width: 1024px;
    margin-bottom: 27px;
    margin-right: auto;
    margin-left: 20%;
}
.site-map {
    height: 950px;
    width: 1024px;
}

.link_button {
    fill: transparent;
    stroke: #A5A58D;
    stroke-width: 3px;
	text-align : center;
    color: black;
    border-radius: 10px;
}
.link_button:hover {
    background: transparent;
    background-color:#ffffff;
}
svg .link_button:hover text {
    fill: #CB997E;
    transition: all 0.3s ease-in-out 0s;
}
svg text {
    font-weight: bold;
    font-size: 22px;
    font-size-adjust: 0.5;
    fill: #222831;
    stroke: none;
    font-weight: normal;
}
.sitemap-line {
    stroke:#A5A58D;
    stroke-width: 4px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    height: 500px;
    overflow: hidden;
}
.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* adjust opacity as needed */
}
.centered h3{
    font-size: 2.4rem;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}