*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
}

a{
    text-decoration: none;

}

header{
    height: 100vh ;
    width: 100vw;
    background-image: url(../../images/background2.jpg) ;
    background-position: bottom;
    background-size:cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 181px;
    color: whitesmoke;
    text-align: center;
    position: absolute;
}

.header-content h1{
    font-size: 7vmin;
    
}

.line{
    width :250px ;
    height: 4px;
    background: whitesmoke;
    margin: 3px auto;
    border-radius: 5px;

}

.header-content p{
    font-size: 3vmin ;
    margin-top: 20px;
    margin-bottom: 30px;
}


.ctn {
    padding: 10px 15px;
    background: crimson;
    border-radius: 30px;
    color: whitesmoke;
    margin-top: 0px;
}

@media   screen and (max-width:778px){
    .header-content{
        display: none;
    }
}

/* section */

section{
    width: 80%;
    margin: 70px auto;    
}

.line2{
    width :100px ;
    height: 4px;
    background: crimson;
    margin: 3px auto;
    border-radius: 5px;

}

.title{
    text-align: center;
    font-size: 4vmin;
}

.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
  }
  
  .image,
  .description {
    width: 50%;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }